<div class="container mt-5">
  <h4>Listado de Clientes</h4>

  <form action="">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Busque un cliente">
    </div>
  </form>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://w7.pngwing.com/pngs/312/283/png-transparent-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-heroes-thumbnail.png"
          class="card-img-top imgCliente" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juan Martinez</h5>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger">Desactivar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://w7.pngwing.com/pngs/312/283/png-transparent-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-heroes-thumbnail.png"
          class="card-img-top imgCliente" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juan Martinez</h5>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger">Desactivar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://w7.pngwing.com/pngs/312/283/png-transparent-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-heroes-thumbnail.png"
          class="card-img-top imgCliente" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juan Martinez</h5>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger">Desactivar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img
          src="https://w7.pngwing.com/pngs/312/283/png-transparent-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-heroes-thumbnail.png"
          class="card-img-top imgCliente" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juan Martinez</h5>
          <a href="#" class="card-link">Editar</a>
          <a href="#" class="card-link text-danger">Desactivar</a>
        </div>
      </div>
    </div>
  </div>
</div>
