<div class="clientes">
  <div class="form-group">
    <label for="cliente">Cliente</label>
    <input class="form-control" type="text" id="cliente" placeholder="Busque un cliente">
    <br>
  </div>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Cliente 1</a>
    <a href="#" class="list-group-item list-group-item-action">Cliente 2</a>
    <a href="#" class="list-group-item list-group-item-action">Cliente 3</a>
    <a href="#" class="list-group-item list-group-item-action">Cliente 4</a>
  </div>
</div>
